<!--
  Generated template for the CallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
      <ion-title>
          Face2Face - {{myCallId}}
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <ion-list>
    <ion-item>
           <button  ion-button  color="secondary" block (click)='openModal()'>Contacts</button>
      </ion-item>
      <ion-item>
          <ion-label floating>Caller ID:</ion-label>
          <ion-input type="text" [(ngModel)]="calleeId"></ion-input>
      </ion-item>
  </ion-list> 

  <ion-grid>
      <ion-row>
          <ion-col>
              <button *ngIf="showCall"  ion-button  small block (click)='MakeCall(calleeId)'>Call</button>
          </ion-col>
          <ion-col>
              <button *ngIf="showHangup" ion-button small block color="danger" (click)='HangUp()'>Hangup</button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <button *ngIf="showAnswer" ion-button small block color="secondary" (click)='AnswerCall(incomingCallId)'>Answer</button>
          </ion-col>
          <ion-col>
              <button *ngIf="showReject" ion-button small block color="danger">Reject</button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <p *ngIf="showStatus" [innerHtml]="status"></p>
          </ion-col>
      </ion-row>
      <ion-row *ngIf="showRemoteVideo">
          <ion-col>
              <p>Caller Video</p>
              <div id="remote" style="width:100%;"></div>
          </ion-col>
      </ion-row>
      <ion-row *ngIf="showMyVideo">
          <ion-col>
              <p>My Video</p>
              <div id="mini"></div>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
